body {
	font-family: Arial, sans-serif;
	background-color: #ae36d3;

}

h1 {
	margin-left: 50%;
	transform: translateX(-50%);
	align-items: center;
	font-size: 3em;
	color: #ffffff; /* Change text color to white */
    background-color: #ae36d3; /* Add the color you want for the header */
    padding: 5px; /* Add some padding to the header */
	padding-left: 7%;
}

.result_h1{
	margin-left: 50%;
	transform: translateX(-50%);
	align-items: center;
	font-size: 3em;
	color: #ffffff; /* Change text color to white */
    background-color: #ae36d3; /* Add the color you want for the header */
    padding: 5px; /* Add some padding to the header */
	padding-left: 10rem;
}

.search_div{
	margin-left: 53%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: row;
}
.search_div input{
	margin: 5px 0 5px 0;
	padding: 2px 5px;
	width: 20rem;
	height: 2.5rem;
	border: solid 2px #ae36d3;
	border-radius: 10px;
}
.search_div button{
	margin: 5px 0 5px 0;
	width: 4rem;
	height: 2.5rem;
	border: none;
	border-radius: 10px;
	background-color: #ae36d3;
	color: white;
	font-size: 16px;
}
.search_div button:hover{
	cursor: pointer;
	background-color: #ae06a3;
	transform: scale(1.05);
}

.checkbox-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 250px;
	row-gap: 20px;
	margin-right: 7rem;
}

form {
	margin-bottom: 1em;
}

input[type=checkbox] {
	margin-right: 1em;
}

button[type=submit] {
	margin-top: 1em;
}

p {
	font-size: 1.5em;
	font-family: cursive;
	margin-left: 50%;
	margin-top: 4rem;
	transform: translateX(-50%);
}


.result_div{
	margin-top: 5rem;
}


body {
	background-color: #f7f2f2;
}

.grid-container {
	display: grid;
	grid-template-columns: repeat(1, 800px);
	/* minmax(300px, 1fr)*/
	grid-gap: 70px;
	padding: 20px;
	justify-items: center;
	justify-content: center;
	align-items: start;

}

.box {
padding: 2em;
}

.item {
	margin-bottom: 2em;
}


.toggler-wrapper {
	display: block;
	width: 45px;
	height: 25px;
	cursor: pointer;
	position: relative;
}

.toggler-wrapper input[type="checkbox"] {
	display: none;
}

.toggler-wrapper input[type="checkbox"]:checked+.toggler-slider {
	background-color: #ae36d3;
}

.toggler-wrapper .toggler-slider {
	background-color: #ccc;
	position: absolute;
	border-radius: 100px;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}

.toggler-wrapper .toggler-knob {
	position: absolute;
	-webkit-transition: all 300ms ease;
	transition: all 300ms ease;
}


/*--------------------------------------------------------------
3.0 Effects Styles 
--------------------------------------------------------------*/


/*Style 1*/

.toggler-wrapper.style-1 input[type="checkbox"]:checked+.toggler-slider .toggler-knob {
	left: calc(100% - 19px - 3px);
}

.toggler-wrapper.style-1 .toggler-knob {
	width: calc(25px - 6px);
	height: calc(25px - 6px);
	border-radius: 50%;
	left: 3px;
	top: 3px;
	background-color: #fff;
}



body {
	font-family: 'Roboto', sans-serif;
	background-color: #fcfcfc;
	font-weight: 300;
	color: #333;
}

h1,
h2,
h3,
h4,
h5 {
	font-family: 'Times New Roman', serif;
}

.buttons-wrapper>div {
	display: inline-block;
	background-color: #e8e8e8;
	padding: 20px;
	margin: 5px;
	width: 20%;
	border-radius: 8px;
	border: 1px solid rgba(200, 200, 200, 0.1);
	box-shadow: 2px 2px 7px rgba(80, 80, 80, 0.1);
}

.buttons-wrapper {
	margin: 5%;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
}

.text-center {
	text-align: center;
}

header {
	padding: 5px 10px 40px 10px;
	margin-bottom: 20px;
}

header h1 {
	font-size: 50px;
	font-weight: 900;
}

header p {
	color: #999;
}

header strong {
	margin-top: 10px;
	display: inline-block;
	color: #3bc7ea;
}

section.row {
	display: flex;
	margin-bottom: 4em;
	align-items: flex-end;
}

section.row h2 {
	font-size: 34px;
	margin-bottom: 5px;
	color: #ccc;
}

.badge {
	font-size: bigger;
	/*background-color: #f2eee0;*/
	display: block;
	/*padding: 3px 8px;*/
	margin: 0px 50px;
	padding-top: 4px;
}




/* Butoon CSS */
.button-26 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  appearance: button;
  background-color: #ae36d3;
  border: 1px solid #ae36d3;
  border-radius: 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
  font-size: 14px;
  line-height: 1.15;
  overflow: visible;
  padding: 12px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: all 80ms ease-in-out;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: fit-content;
}

.button-26:disabled {
  opacity: .5;
}

.button-26:focus {
  outline: 0;
}

.button-26:hover {
  background-color: #ae36d3;
  border-color: #ae36d3;
}

.button-26:active {
  background-color: #ae36d3;
  border-color: #ae36d3;
}