<!DOCTYPE html>
<html lang="en">
<head>
	<title>Medical Diagnosis</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='style1.css') }}">
</head>
<head>
    <meta charset="UTF-8">
    <title>Chatbot</title>
</head>
<body>
	<div class="grid-container">
		<div class="box">

			<h1>Symptom Selector</h1>

			<div class="search_div">
				<form method="POST" action="{{url_for('search')}}">
					<input type="text" name="search" placeholder="type a symptom"/>
					<button type="submit">search</button>
				</form>
			</div>

			<div class="item">
				<form method="POST" action="{{ url_for('predict') }}">
					<div class="checkbox-container">
					{% for symptom in symptoms %}
					<label class="toggler-wrapper style-1">
						<input type="checkbox" name="symptoms" value="{{ loop.index0 }}"> 
						<div class="toggler-slider">
							<div class="toggler-knob"></div>
							
						</div>
						<div class="badge">{{ symptom }}</div>
					</label>
					
					{% endfor %}
					</div>
					<br>
					<button class="button-26" type="submit">Predict</button>
				</form>
			</div>

		</div>

	</div>
	
	<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
<body>
	<div class="container">
		<div class="chatbox">
			<div class="chatbox__support">
				<div class="chatbox__header">
					<div class="chatbox__image--header">
						<img src="https://img.icons8.com/color/48/000000/circled-user-female-skin-type-5--v1.png" alt="image">
					</div>
					<div class="chatbox__content--header">
						<p>Medical Assistant ChatBot</p>
						<p>How can I help you?</p>
					</div>
				</div>
				<div class="chatbox__messages">
					<div></div>
				</div>
				<div class="chatbox__footer">
					<input type="text" placeholder="Write a message...">
					<button class="chatbox__send--footer send__button">Send</button>
				</div>
			</div>
			<div class="chatbox__button">
				<button><img src="{{ url_for('static', filename='images/chatbox-icon.svg') }}" /></button>
			</div>
		</div>
	</div>
	
		<script>
			$SCRIPT_ROOT = {{ request.script_root|tojson }};
		</script>
		<script type="text/javascript" src="{{ url_for('static', filename='app1.js') }}"></script>
	
	</body>
</html>
